<!DOCTYPE html>
{% load static %}
<!---
This is the base HTML file for the Vetoffice
This will contain the static HTML code for the website
subsequent html files will extend from this base file.
--->

<html>
<!--
<style>
.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #ed0606;
  text_align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}
</style>
-->

<head>
<link rel="stylesheet" type="text/css" href="{% static 'vetoffice/style.css' %}">

  <div class="navbar">
    <a href="{% url 'vetoffice:home' %}">Home</a>
    <a href="{% url 'vetoffice:ownercreate' %}">Register Owner</a>
    <a href="{% url 'vetoffice:ownerlist' %}">Owners</a>
  </div>

</head>

<body>

      {% block content %}

      {% endblock %}

</body>

</html>
