{% extends './base.html' %}
<!--
  Creates a list of the different animals in the different categories of animals treated at the vetoffice.
  Uses the 'Animal Meta' class to sort based on the animal type.

  Button(Add Animal): Links to the animal_create_form.html, makes it possible to add new animals to the List.
  Button(Edit): Links to the animal_edit_form.html, makes it possible to edit the animals in the List.
  Button(Delete): Links to the animal_delete_form.html, makes it poosible to remove a animal from the List.
-->
{% block content %}
<h2>Animal List</h2>
<a href="{% url 'patient:animalcreate' %}"><button class"btn">Add Animal type</button></a>
<table id="animals">
  <tr>
    <th>Animal Type</th>
    <th> </th>
    <th> </th>
  </tr>
  <tr>
    {% for animal in animal_list %}
  </tr>
  <tr>
    <td>{{ animal.animal_type }}</td>
    <td><a href="{% url 'patient:animalupdate' animal.id %}"><button>Edit</button></a></td>
    <td><a href="{% url 'patient:animaldelete' animal.id %}"><button>Delete</button></a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
