{% extends './base.html' %}
<!--
  Creates a list of the different appointments in the different categories of animals treated at the vetoffice.
  Uses the 'Appointment Meta' class to sort based on the animal type.

  Button(Add Appointment): Links to the appointment_create_form.html, makes it possible to add new appointments to the List.
  Button(Edit): Links to the appointment_edit_form.html, makes it possible to edit the appointments in the List.
  Button(Delete): Links to the appointment_delete_form.html, makes it poosible to remove a appointment from the List.
-->
{% block content %}
<h2>Appointments</h2>
<a href="{% url 'vetoffice:appointmentcreate' %}"><button class"btn">Request Appointment</button></a>
<table class="appointments">
  <tr>
    <th>Patient</th>
    <th>Day</th>
    <th>Time</th>
    <th>Veterinary</th>
    <th> </th>
    <th> </th>
  </tr>
  <tr>
  {% for appointment in appointment_list %}
  </tr>
  <tr>
    <td>{{ appointment.patient }}</td>
    <td>{{ appointment.day }}</td>
    <th>{{ appointment.time }}</th>
    <th>{{ appointment.employee }}</th>
    <td><a href="{% url 'vetoffice:appointmentupdate' appointment.id %}"><button>Edit</button></a></td>
    <td><a href="{% url 'vetoffice:appointmentdelete' appointment.id %}"><button>Delete</button></a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
