{% extends './base.html' %}
{% block content %}
<h2>employee List</h2>
<a href="{% url 'employee:employeecreate' %}"><button class"btn">Add employee</button></a>
<table id="employees">
  <tr>
    <th>Title</th>
    <th>Last name</th>
    <th> </th>
    <th> </th>
  </tr>
  <tr>
    {% for employee in employee_list %}
  </tr>
  <tr>
    <td>{{ employee.title }}</td>
    <td>{{ employee.last_name }}</td>
    <td><a href="{% url 'employee:employeeupdate' employee.id %}"><button>Edit</button></a></td>
    <td><a href="{% url 'employee:employeedelete' employee.id %}"><button>Delete</button></a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
