{% extends './base.html' %}
<!--
  Creates a list of the different owners in the different categories of animals treated at the vetoffice.
  Uses the 'Owner Meta' class to sort based on the animal type.

  Button(Add Owner): Links to the owner_create_form.html, makes it possible to add new owners to the List.
  Button(Edit): Links to the owner_edit_form.html, makes it possible to edit the owners in the List.
  Button(Delete): Links to the owner_delete_form.html, makes it poosible to remove a owner from the List.
-->
{% block content %}
<h2>Owner List</h2>
<a href="{% url 'owner:ownercreate' %}"><button class"btn">Add Owner</button></a>
<table class="owners">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th> </th>
    <th> </th>
  </tr>
  <tr>
  {% for owner in owner_list %}
  </tr>
  <tr>
    <td><strong>{{ owner.last_name }}</strong>, {{ owner.first_name }}</td>
    <td>{{ owner.phone }}</td>
    <td><a href="{% url 'owner:ownerupdate' owner.id %}"><button>Edit</button></a></td>
    <td><a href="{% url 'owner:ownerdelete' owner.id %}"><button>Delete</button></a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
