{% extends './base.html' %}
{% block content %}

<h2>Owner List</h2>
<a href="{% url 'owner:ownercreate' %}"><button class"btn">Add Owner</button></a>
<table class="owners">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th> </th>
    <th> </th>
  </tr>
  <tr>
  {% for owner in owner_list %}
  </tr>
  <tr>
    <td><strong>{{ owner.last_name }}</strong>, {{ owner.first_name }}</td>
    <td>{{ owner.phone }}</td>
    <td><a href="{% url 'owner:ownerupdate' owner.id %}"><button>Edit</button></a></td>
    <td><a href="{% url 'owner:ownerdelete' owner.id %}"><button>Delete</button></a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
