{% extends './base.html' %}
<!--
  Uses the Django form functionality to create a simple HTML/CSS form.

  Using window.history.back() function to go back to the previous window, without deleting the data.
-->
{% block content %}
<h2>Delete Owner</h2>
<form method="post">
  <div>
    {% csrf_token %}
    <p>
      Are you certain you want to remove "{{ object.pet_name }}", belonging to "{{ object.owner.last_name }}, {{ object.owner.first_name }}"?
    </p>
    <input type="submit" value="Confirm" />
    <button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button>
  </div>
</form>
{% endblock %}
